@model IEnumerable<CarRental.WebApp.Areas.AdminPanel.Models.LocationViewModel>

@{
    ViewBag.Title = "Locations";
}

<h2>Locations</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        @if (Model.Any())
        {
            <th>
                @Html.DisplayNameFor(model => model.ElementAt(0).CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElementAt(0).CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElementAt(0).StreetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElementAt(0).PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElementAt(0).BuildingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElementAt(0).OfficeNumber)
            </th>
        }
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CountryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuildingNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfficeNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Back to Admin panel", "Index", "Admin", new { area="AdminPanel" }, new { @class = "btn btn-default" })
</div>