@model CarRental.WebApp.Areas.AdminPanel.Models.VehicleImageViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VehicleImageViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VehicleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Path)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "VehicleImage", new { area = "AdminPanel", id = Model.Id, vehicleId = Model.VehicleId, isEditMode = Model.IsEditMode })) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index", new { area = "AdminPanel", vehicleId = Model.VehicleId, isEditMode = Model.IsEditMode })
        </div>
    }
</div>
